{{#paper-content class="posts"}}
    <div class="layout-column">
        {{#each model as |post|}}
            {{post-row post=post classNames="post-row layout-row"}}
        {{/each}}
    </div>
{{/paper-content}}