<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            {{#link-to "index" classNames="navbar-brand" title="Hotnss"}}
                <img src="assets/images/logo.png" alt="Hotnss">
            {{/link-to}}
        </div>
    </div>
</nav>

<div class="container">
    {{outlet}}
</div>